.App {
  background-color: #ffffff;
  min-height: 100vh;
  /* color: rgb(0, 0, 0); */
  display: block;
  justify-content: center;
  align-items: center;
 
  /* background: url(assets/images/HRSHBC/HRSHBC10.jpg) center 0px;
  background-size: cover;
  background-position: center 0px;  */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; 
   -webkit-background-size: cover;  
   -o-background-size: cover;  
   -moz-background-size: cover;  
   -ms-background-size: cover; */
}