.App {
  /* background-color: #282c34; */
  min-height: 100vh;
  /* color: rgb(0, 0, 0); */
  display: block;
  justify-content: center;
  align-items: center;
  background: url(images/LAB-1.jpg) no-repeat center 0px;
  background-size: cover;

  background-position: center -800px; 
  background-repeat: no-repeat;  
  background-attachment: fixed; 
   -webkit-background-size: cover;  
   -o-background-size: cover;  
   -moz-background-size: cover;  
   -ms-background-size: cover;

}